$primary-color: #26272b;
$second-color: #96a2b2;
$background-color: #fff;

.container {
  background-color: $background-color;

  &__header {
    height: 100px;
    background-color: $primary-color;
    color: $second-color;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &Logo {
      width: 70px;
      margin: 16px 24px 16px 0;
      float: left;
    }
  }

  &__countries {
    margin: 24px 16px 24px;
  }

  &__footer {
    background-color: $primary-color;
    color: $second-color;

    &--icons {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      li {
        display: inline-block;
      }
    }
  }
}
